/* Main Container */
.container {
  padding: 20px;
  background-color: #f4f4f4;
}


.testimonial {
  padding: 15px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  margin-bottom: 15px;
}


.text {
  margin: 0;
  font-size: 16px;
}


.author {
  text-align: right;
  font-style: italic;
  margin-top: 10px;
}


